@using CPanelManager.Helpers
@inject Microsoft.Extensions.Options.IOptions<Settings> Settings
<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId" class="@Settings.Value.CurrentTheme">
<head>
    <meta charset="utf-8" />
    <title>CPanelManager-@ViewData["Title"] </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <link rel="stylesheet" type="text/css" media="screen" href="~/css/demo.min.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: httpss://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    
    @*Use for Notification append into an element*@
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>
<body class="@ViewBag.PageClass @Settings.Value.CurrentTheme">
    <!-- HEADER -->
    <header id="header">
        @{ await Html.RenderPartialAsync("_Header"); }
        <section id="top-right">
            @(IsSectionDefined("topright") ? RenderSection("topright", false) : Html.Partial("_TopRight"))
        </section>
    </header>
    <!-- END HEADER -->

    @{ Html.RenderPartialIf("_Aside", User.Identity.IsAuthenticated); }

    <!-- MAIN PANEL -->
    @if (User.Identity.IsAuthenticated)
    {
        <div id="main" role="main">
            @*@{ Html.RenderPartialIf("_Ribbon", User.Identity.IsAuthenticated); }*@
            @RenderBody()
        </div>
    }
    else
    {
        <div id="">
            @RenderBody()
        </div>
    }
    <!-- END MAIN PANEL -->

    @if (User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("_Footer");
        Html.RenderPartialIf("_Tiles", Settings.Value.EnableTiles);
    }

    @{ await Html.RenderPartialAsync("_Scripts"); }
    @RenderSection("scripts", false)

    @{
        await Html.RenderPartialAsync("_GlobalMessage");
    }
</body>
</html>
