@model CPanelManager.ViewModels.AssetsExpiry.IndexAssetsExpiryViewModel

@{
    ViewData["Title"] = "MasterProduct/Index";
}

<!-- MAIN CONTENT -->
<div id="content">


    <form asp-action="PrintExpired" id="MasterProduct-form" novalidate="novalidate" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-edit fa-fw "></i>
                    Expired Item
                    <span>
                        >
                        Index
                    </span>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" style="text-align:right;padding-top:10px;">
                
                <button id="btnPrint" type="submit" class="btn btn-lg btn-labeled btn-default" formtarget="_blank">
                    <span class="btn-label"><i class="glyphicon glyphicon-print"></i></span>Print
                </button>
            </div>
        </div>



        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- START ROW -->
            <div class="row">

                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false" data-widget-togglebutton="false" data-widget-sortable="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Expiry / Renewal </h2>

                        </header>

                        <!-- widget div-->
                        <div>
                            <fieldset class="smart-form">
                                <div class="row">
                                    <section class="col-sm-12">
                                        <div class="inline-group" style="padding-left:3%">
                                            <label class="radio">
                                                <input type="radio" id="rdbtnAll" checked value="0" name="CategoryType"> <i></i>  All
                                            </label>
                                            <label class="radio">
                                                <input type="radio" id="rdbtnService" checked value="2" name="CategoryType"> <i></i> Service
                                            </label>
                                            <label class="radio">
                                                <input type="radio" id="rdbtnAssets" value="1" name="CategoryType"> <i></i>  Assets
                                            </label>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <table id="dt_basic" class="table table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            @*<th data-hide="phone" style="width:5%"><input style="width:100% !important; text-align:center;" type="checkbox" class="checkBoxDelete" id="chkbtnDeleteAll" /> </th>*@
                                            <th data-hide="phone,tablet" style="width:10%"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Expiry</th>
                                            <th data-class="expand" style="width:25%"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Product Detail</th>
                                            <th data-hide="phone" style="width:20%"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Brand & Category</th>
                                            <th data-hide="phone,tablet" style="width:25%;"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i> Assign Detail</th>
                                            <th data-hide="phone,tablet" style="width:20%;"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i> Purchase Detail</th>
                                            <th data-hide="phone,tablet" style="width:20%;"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i>Renewal</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var Item in Model.AssetsExpiryViewModelList)
                                        {
                                        <tr>
                                            @*<td style="text-align:center;"><input style="float:inherit;" type="checkbox" id="chkbtnDeleteMasterProductIds" class="checkBoxDelete" name="DeleteMasterProductIds" value="@Item.MasterProductId"> </td>*@
                                            <td style="text-align: right;">
                                                @if (Item.WarrantyExpiryDate > DateTime.Now)
                                                {
                                                    <i class="fa fa-circle" style="color:green;"> </i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-gear fa-lg fa-spin" style="color:red;font-size:20px;"></i>
                                                }
                                                @Item.WarrantyExpiryDate?.ToString("dd-MM-yyyy")
                                            </td>
                                            @if (Model.IsUpdate == true)
                                            {
                                                <td>
                                                    <b>@Html.ActionLink(Item.ProductChildTitle, "ViewMasterProductChild", "MasterProduct", new { MasterProductChildId = Item.MasterProductChildId }, htmlAttributes: new { id = "loginLink" })</b>
                                                    <br />SKU: @Item.ProductChildSKU
                                                    <br />Sr. No.: @Item.ManufacturerPartNumber
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <b>@Item.ProductChildTitle</b>
                                                    <br />SKU: @Item.ProductChildSKU
                                                    <br />Sr. No.: @Item.ManufacturerPartNumber
                                                </td>
                                            }
                                            <td>
                                                @Item.BrandTitle
                                                <br /> @Item.CategoryTitle / @Item.SubCategoryTitle
                                            </td>
                                            <td>
                                                <b>Branch: @Item.BranchTitle</b><br />
                                                Assign To: @Item.EmployeeName<br />
                                                Assign Date:   @Item.AssetsAssignmentDate?.ToString("dd-MM-yyyy")

                                            </td>
                                            <td>
                                                <b>Vendor: @Item.VendorTitle</b>
                                                <br />Date: @Item.PurchaseDate?.ToString("dd-MM-yyyy")
                                                <br />Price: @Item.PurchasePrice
                                            </td>
                                            <td>
                                                @Html.ActionLink(".", "AddRenewalProduct", new { MasterProductChildId = Item.MasterProductChildId, ProductTitle = Item.ProductTitle, IndexType= "IndexExpired" }, htmlAttributes: new { id = "loginLink", @class = "glyphicon fa fa-cart-plus ", style = "color:blue;font-size:15px;" })


                                            </td>
                                          
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- END COL -->

            </div>
            <!-- END ROW -->
        </section>
        <!-- end widget grid -->
    </form>
</div>

@section Scripts {

    <script type="text/javascript">
        var CategoryType = "@Model.MasterCategoryType";

        if (CategoryType == 1) {
            document.getElementById('rdbtnAssets').checked = true;
        }
        else if (CategoryType == 2) {
            document.getElementById('rdbtnService').checked = true;
        }
        else {
            document.getElementById('rdbtnAll').checked = true;
        }

        $("#rdbtnAll").change(function () {
            window.location.href = "/AssetsExpiry/IndexExpired?CategoryType=0";
        })

        $("#rdbtnService").change(function () {
            window.location.href = "/AssetsExpiry/IndexExpired?CategoryType=2";
        })
        $("#rdbtnAssets").change(function () {
            window.location.href = "/AssetsExpiry/IndexExpired?CategoryType=1";
        })


    //$(".dt_basic_length").val("25").attr("selected", true);

    </script>
    <script src="~/js/Views/MasterProduct/Index.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}