@model CPanelManager.ViewModels.MasterDesignation.IndexMasterDesignationViewModel

@{
    ViewData["Title"] = "MasterDesignation/Index";
}

<!-- MAIN CONTENT -->
<div id="content">


    <form asp-action="DeleteMasterDesignation" id="MasterDesignation-form" novalidate="novalidate" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-edit fa-fw "></i>
                    Master Designation
                    <span>
                        >
                        Index
                    </span>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" style="text-align:right;padding-top:10px;">
                <button id="btndelete" type="submit" class="btn btn-lg btn-labeled btn-danger" onclick="return confirm('Are you sure you wish to delete Master Designation?');">
                    <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Delete
                </button>

                <a asp-action="AddMasterDesignation" class="btn btn-lg btn-labeled btn-primary">
                    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Add New
                </a>
            </div>
        </div>



        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- START ROW -->
            <div class="row">

                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false" data-widget-togglebutton="false" data-widget-sortable="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Master Designation</h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <table id="dt_basic" class="table table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-hide="phone" style="width:5%"><input style="width:100% !important; text-align:center;" type="checkbox" class="checkBoxDelete" id="chkbtnDeleteAll" /> </th>
                                            <th data-class="expand" style="width:15%"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Designation</th>
                                            <th data-hide="phone" style="width:15%"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Title</th>
                                            <th data-hide="phone,tablet" style="width:10%;"><i class="fa fa-fw fa-user txt-color-blue hidden-md hidden-sm hidden-xs"></i> Code</th>
                                            <th data-hide="phone,tablet" style="width:8%"><i class="fa fa-fw fa-user txt-color-blue hidden-md hidden-sm hidden-xs"></i> Description</th>

                                            <th data-hide="phone" style="width:10%;text-align:center;">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model.MasterDesignationList)
                                        {
                                            <tr>
                                                <td style="text-align:center;"><input style="float:inherit;" type="checkbox" id="chkbtnDeleteMasterDepartmentIds" class="checkBoxDelete" name="DeleteMasterDepartmentIds" value="@Item.MasterDepartmentId"> </td>

                                                @if (Model.IsUpdate == true)
                                                {
                                                    <td>
                                                        @Html.ActionLink(Item.DesignationTitle, "ViewMasterDesignation", new { MasterDesignationId = Item.MasterDesignationId }, htmlAttributes: new { id = "loginLink" })
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Html.ActionLink(Item.DesignationTitle, "ViewMasterDesignation", new { MasterDesignationId = Item.MasterDesignationId }, htmlAttributes: new { id = "loginLink" })
                                                    </td>
                                                }
                                                <td>@Item.DesignationTitle</td>
                                                <td>@Item.DesignationCode</td>
                                                <td>@Item.DesignationDescription</td>

                                                <td style="text-align:center;">
                                                    @Html.ActionLink(".", "ViewMasterDesignation", new { MasterDesignationId = Item.MasterDesignationId }, htmlAttributes: new { id = "loginLink", @class = "glyphicon glyphicon-pencil", style = "color:blue;font-size:15px;" })

                                                    @Html.ActionLink(".", "DeleteMasterDesignationById", new { MasterDesignationId = Item.MasterDesignationId }, htmlAttributes: new { id = "loginLink", @class = "glyphicon glyphicon-trash", style = "color:red;font-size:15px;", onclick = "return confirm('Are you sure you wish to delete Master Designation?');" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- END COL -->

            </div>
            <!-- END ROW -->
        </section>
        <!-- end widget grid -->
    </form>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            //Check Btn On Index View  for Select all check boxs for Delete
            $("#chkbtnDeleteAll").click(function () {
                $(".checkBoxDelete").prop('checked', $(this).prop('checked'));
            });
        });
    </script>
    <script src="~/js/Views/MasterDesignation/Index.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



