@model CPanelManager.ViewModels.MasterProfile.AddMasterProfileViewModel

@{
    ViewData["Title"] = "AddMasterProfile";
}

<!-- MAIN CONTENT -->
<div id="content">


    <form asp-action="SaveMasterProfile" id="MasterProfile-form" novalidate="novalidate" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-edit fa-fw "></i>
                    MasterProfile
                    <span>
                        >
                        Add / View
                    </span>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" style="text-align:right;padding-top:10px;">
                <input type="hidden" asp-for="MasterProfileId" />
                <input type="hidden" asp-for="Mode" />

                <a asp-action="Index" class="btn btn-lg btn-labeled btn-danger">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancel
                </a>

                <button id="btnsave" type="submit" class="btn btn-lg btn-labeled btn-primary">
                    <span class="btn-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Save / Update
                </button>
            </div>
        </div>

        

        <div class="alert alert-block alert-success">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
            <p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </p>
        </div>


        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- START ROW -->
            <div class="row">

                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-7">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false" data-widget-togglebutton="false" data-widget-sortable="false">

                        @*<header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>GenCode Type </h2>

                </header>*@

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div class="smart-form" novalidate="novalidate">
                                    <header>
                                        Profile
                                    </header>

                                    <fieldset>

                                        <section>
                                            <label class="label">Profile Title </label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-tag"></i>
                                                <input asp-for="ProfileTitle" placeholder="Profile Title" maxlength="100" />
                                                <span asp-validation-for="ProfileTitle" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section>
                                            <label class="label">Profile Description </label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-tag"></i>
                                                <input asp-for="ProfileDescription" placeholder="Profile Description" maxlength="100" />
                                                <span asp-validation-for="ProfileDescription" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">IsSelect</label>
                                                <label class="toggle">
                                                    <input type="checkbox" id="IsSelect" name="IsSelect" value="true" checked="checked">
                                                    <i data-swchon-text="True" data-swchoff-text="False"></i>
                                                </label>
                                                <span asp-validation-for="IsSelect" class="text-danger"></span>
                                            </section>
                                            
                                            <section class="col col-3">
                                                <label class="label">IsInsert</label>
                                                <label class="toggle">
                                                    <input type="checkbox" id="IsInsert" name="IsInsert" value="true" checked="checked">
                                                    <i data-swchon-text="True" data-swchoff-text="False"></i>
                                                </label>
                                                <span asp-validation-for="IsInsert" class="text-danger"></span>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">IsUpdate</label>
                                                <label class="toggle">
                                                    <input type="checkbox" id="IsUpdate" name="IsUpdate" value="true" checked="checked">
                                                    <i data-swchon-text="True" data-swchoff-text="False"></i>
                                                </label>
                                                <span asp-validation-for="IsUpdate" class="text-danger"></span>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">IsDelete</label>
                                                <label class="toggle">
                                                    <input type="checkbox" id="IsDelete" name="IsDelete" value="true" checked="checked">
                                                    <i data-swchon-text="True" data-swchoff-text="False"></i>
                                                </label>
                                                <span asp-validation-for="IsDelete" class="text-danger"></span>
                                            </section>                                            
                                        </div>

                                        
                                        <div class="row" style="padding-top:20px;">
                                            <section class="col col-6">
                                                <label class="label">Code</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-tag"></i>
                                                    <input asp-for="ProfileCode" placeholder="Profile Code" maxlength="2" />
                                                    <span asp-validation-for="ProfileCode" class="text-danger"></span>
                                                </label>
                                            </section>

                                            <section class="col col-6">
                                                <label class="label">Active</label>
                                                <label class="toggle">
                                                    <input type="checkbox" id="IsActive" name="IsActive" value="true" checked="checked">
                                                    <i data-swchon-text="True" data-swchoff-text="False"></i>
                                                </label>
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </section>
                                        </div>


                                    </fieldset>


                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- END COL -->
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-5">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false" data-widget-togglebutton="false" data-widget-sortable="false">

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="well">
                                        <button class="close" data-dismiss="alert">
                                            ×
                                        </button>
                                        <h1 class="semi-bold">Master Profile</h1>
                                        <p>
                                            Master Profile is to add the new profile for the system in which we can select the authentication for that profile. By selecting and entering the details and then by clicking on the save/update button we can add the new profile or update the existing one.
                                        </p>

                                       
                                    </div>

                                </div>
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- END COL -->
            </div>
            <!-- END ROW -->


        </section>
        <!-- end widget grid -->
    </form>
</div>


@section Scripts {

    <script type="text/javascript">
        var IsSelect = "@Model.IsSelect";
        var IsInsert = "@Model.IsInsert";
        var IsUpdate = "@Model.IsUpdate";
        var IsDelete = "@Model.IsDelete";
        var IsActive = "@Model.IsActive";

        if (IsSelect == "True") {
            $('#IsSelect').prop('checked', true);
        }
        else {
            $('#IsSelect').prop('checked', false);
        }

        if (IsInsert == "True") {
            $('#IsInsert').prop('checked', true);
        }
        else {
            $('#IsInsert').prop('checked', false);
        }

        if (IsUpdate == "True") {
            $('#IsUpdate').prop('checked', true);
        }
        else {
            $('#IsUpdate').prop('checked', false);
        }

        if (IsDelete == "True") {
            $('#IsDelete').prop('checked', true);
        }
        else {
            $('#IsDelete').prop('checked', false);
        }

        if (IsActive == "True") {
            $('#IsActive').prop('checked', true);
        }
        else {
            $('#IsActive').prop('checked', false);
        }

        $('#MasterProfileTitle').change(function () {
            var url = "/MasterProfile/MasterProfileExists";
            var _MasterProfileTitle = $('#MasterProfileTitle').val();

            if (_MasterProfileTitle != '') {

                $.getJSON(url, { MasterProfileTitle:_MasterProfileTitle}, function (data) {
                    alert(data);
                    if (data == true) {
                        $("#MasterProfileTitle").css('background-color', '');
                    }
                    else {
                        $("#MasterProfileTitle").css('background-color', '#FFBFBF');
                        alert('GenCode Type Title Already Exist!');
                    }
                });
            }
        });

        //$('#MasterProfilePrintDesc').change(function () {
        //    var url = "/MasterProfile/MasterProfilePrintCodeExists";
        //    var data = $('#MasterProfilePrintDesc').val();

        //    if (data != '') {
        //        $.get(url, { TableName: 'CGMasterProfile', NameAvailable: data, NameId: Cid }, function (data) {
        //            if (data == "Available") {
        //                $("#MasterProfilePrintDesc").css('background-color', '');
        //            }
        //            else {
        //                $("#MasterProfilePrintDesc").css('background-color', '#FFBFBF');
        //                alert('Print Description Already Exist!');
        //            }
        //        });
        //    }

        //})
    </script>

    <script src="~/js/Views/MasterProfile/AddMasterProfile.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
